header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 9999999;
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.164);
          box-shadow: 0 10px 50px rgba(0, 0, 0, 0.164);
}

header .wrapp_info_header {
  background-color: #e8f6ff;
}

header .wrapp_info_header .info_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapp_info_header .info_header .phone {
  cursor: pointer;
  width: 26px;
  height: 26px;
}

header .wrapp_info_header .info_header .call {
  font-size: 30px;
  color: #595959;
  text-decoration: none;
}

header .wrapp_info_header .info_header .call:hover {
  color: #007bff;
}

header .wrapp_info_header .info_header .call:hover .phone {
  fill: #007bff;
}

header .wrapp_info_header .info_header .whatsapp, header .wrapp_info_header .info_header .viber {
  width: 25px;
  height: 25px;
  margin-left: 15px;
}

header .wrapp_info_header .info_header .call_link {
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
  margin-left: 25px;
}

header .wrapp_info_header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .wrapp_info_header .right .lang {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapp_info_header .right .lang a {
  padding: 5px;
  text-decoration: none;
  color: black;
}

header .wrapp_info_header .right .lang a.active {
  color: #007bff;
}

header .wrapp_info_header .right .order {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 180px;
  height: 45px;
  border-radius: 5px;
  display: block;
  color: black;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .wrapp_info_header .right .order:hover {
  background-color: rgba(128, 128, 128, 0.425);
}

header .wrapp_info_header .right .order .order_user {
  width: 20px;
  height: 20px;
  fill: #007bff;
}

header .desktop_menu {
  padding: 17px;
}

header .desktop_menu .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .desktop_menu .row .logo {
  display: block;
  width: 170px;
  height: 96px;
}

header .desktop_menu .row .header_menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: auto;
  margin-left: 100px;
  margin-bottom: 0;
}

header .desktop_menu .row .header_menu_list li {
  margin-left: 40px;
}

header .desktop_menu .row .header_menu_list li a {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

header .desktop_menu .row .header_menu_list .dropdown-menu li {
  margin: 0;
}

header .desktop_menu .row .header_menu_list .dropdown-menu li a {
  font-size: 15px;
}

header .mobile_menu {
  display: none;
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  background-color: white;
}

header .mobile_menu .wrapp_lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .mobile_menu .navbar-brand {
  margin: 0;
}

header .mobile_menu .navbar-brand img {
  width: 125px;
}

header .mobile_menu .navbar-brand .item {
  text-decoration: none;
  margin-left: 5px;
  width: 28px;
  height: 28px;
}

header .mobile_menu .navbar-brand .item:first-child {
  margin-left: 0;
}

header .mobile_menu .navbar-brand .item svg {
  width: 28px;
  height: 28px;
}

header .mobile_menu .phone_link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
}

header .mobile_menu .lang a {
  text-decoration: none;
}

header .mobile_menu .lang a svg, header .mobile_menu .lang a img {
  width: 30px;
  height: 30px;
}

header .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 1200px) {
  header .wrapp_info_header, header .desktop_menu {
    display: none;
  }
  header .mobile_menu {
    display: block;
  }
}

main {
  margin-top: 175px;
}

main .hero_image {
  min-height: 615px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

main .hero_image .title {
  padding-top: 50px;
  font-size: 3rem;
  color: white;
  text-align: center;
}

main .hero_image .desc {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

main .hero_image .btn_link {
  display: inline-block;
  padding: 10px 40px;
  background-color: #0072b2;
  color: white;
  text-decoration: none;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .hero_image .btn_link:hover {
  background-color: #0021b2;
}

main .hero_image .btn_link .pin {
  width: 20px;
  height: 20px;
  fill: white;
}

@media (max-width: 430px) {
  main .hero_image .btn_link {
    padding: 17px 13px;
    font-size: 20px;
    border-radius: 5px;
  }
}

main .hero_image .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 115px;
}

main .hero_image .services .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 260px;
  height: 160px;
  padding: 40px 0;
  min-width: 245px;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  margin-left: 15px;
  margin-bottom: 15px;
}

main .hero_image .services .item:first-child {
  margin-left: 0;
}

main .hero_image .services .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .hero_image .services .item a svg {
  width: 100%;
  max-width: 70px;
  height: 70px;
  fill: #007bff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .hero_image .services .item:hover {
  background-color: rgba(255, 255, 255, 0.904);
}

main .hero_image .services .item:hover a {
  color: #0021b2;
}

main .hero_image .services .item:hover svg {
  fill: #0021b2;
}

@media (max-width: 430px) {
  main .hero_image .services .item {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  main {
    margin-top: 130px;
  }
}

footer {
  min-height: 125px;
}

footer .desc {
  padding-top: 50px;
}

.wrapp_menu_section {
  min-height: 80px;
  background-color: #f5f5f5;
}

.wrapp_menu_section .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 80px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapp_menu_section .menu_list li {
  margin-left: 70px;
}

.wrapp_menu_section .menu_list li:first-child {
  margin-left: 0;
}

.wrapp_menu_section .menu_list li a {
  text-decoration: none;
}

.wrapp_menu_section .menu_list li a svg {
  fill: #007bff;
  width: 32px;
  height: 32px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapp_menu_section .menu_list li a span {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-left: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapp_menu_section .menu_list li a:hover span {
  color: #003eb2;
}

.wrapp_menu_section .menu_list li a:hover svg {
  width: 29px;
  height: 29px;
  fill: #003eb2;
}

@media (max-width: 1200px) {
  .wrapp_menu_section .menu_list li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapp_menu_section .menu_list li a span {
    margin-left: 0 !important;
  }
}

@media (max-width: 768px) {
  .wrapp_menu_section .menu_list li {
    margin: 15px;
  }
  .wrapp_menu_section .menu_list li:first-child {
    margin: 15px;
  }
}

@media (max-width: 430px) {
  .wrapp_menu_section .menu_list li {
    width: 100%;
  }
  .wrapp_menu_section .menu_list li svg {
    width: 50px !important;
    height: 50px !important;
  }
}

.wrapp_slider .fotorama__nav-wrap {
  position: absolute;
  bottom: 73px;
  width: calc(94% - 145px);
  right: calc(50% - 73px);
  max-width: 1255px;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .wrapp_slider .fotorama__nav-wrap {
    display: none;
  }
}

.wrapp_slider .slider_container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapp_slider .block_info {
  width: 575px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px 60px;
  border-radius: 5px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .wrapp_slider .block_info {
    display: none;
  }
}

.wrapp_slider .block_info .title span {
  color: #0072b2;
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 15px;
}

.wrapp_slider .block_info .title svg {
  fill: #0072b2;
  width: 70px;
  height: 70px;
}

.wrapp_slider .block_info .desc {
  font-size: 0.9rem;
}

.wrapp_slider .block_info .desc span {
  font-weight: 600;
}

.details {
  margin-top: 60px;
}

.details h5 {
  font-size: 2.0rem;
}

.details h6 {
  font-size: 1.5rem;
}

.details .detail_list {
  list-style: none;
  padding-left: 10px;
}

.details .detail_list span {
  font-weight: 500;
}

.details table {
  width: 100%;
}

.details table .main {
  background-color: #e8f6ff;
  padding: 10px;
  font-weight: 400;
}

.details table .main th {
  padding: 10px;
}

.details table tr:not(.main) {
  border-bottom: 1px solid #e8f6ff;
}

.details table tr:not(.main) td {
  padding: 10px;
}

.details .select_service {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
}

.details .wrapp_services_opt {
  max-width: 400px;
  margin-left: auto;
}

@media (max-width: 992px) {
  .details .wrapp_services_opt {
    margin: auto;
    margin-top: 50px;
  }
}

.details .wrapp_services_opt .wrapp_images_service {
  margin-top: 50px;
}

.details .wrapp_services_opt .wrapp_images_service .image_service_item {
  width: 100%;
}

.details .wrapp_services_opt .meta_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

@media (max-width: 430px) {
  .details .wrapp_services_opt .meta_desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .details .wrapp_services_opt .meta_desc img {
    width: 100% !important;
    height: 100% !important;
  }
}

.details .wrapp_services_opt .meta_desc p {
  font-size: 0.9rem;
}

.details .wrapp_services_opt .meta_desc img {
  width: 128px;
  height: 128px;
}

.details .services_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

@media (max-width: 430px) {
  .details .services_footer .wrapp_item_link {
    margin-top: 30px;
  }
}

.details .services_footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

@media (max-width: 992px) {
  .details .services_footer a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .details .services_footer a .right {
    margin-left: 0 !important;
  }
}

@media (max-width: 430px) {
  .details .services_footer a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  .details .services_footer a .right {
    margin-left: 20px !important;
  }
}

.details .services_footer a .right {
  margin-left: 20px;
}

.details .services_footer a .right .title {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.details .services_footer a .right .desc {
  color: black;
}

.details .services_footer a .icon {
  width: 81px;
  height: 81px;
  fill: #0071b3;
}

.details .services_footer a:hover .icon {
  fill: #0461da;
}

.details .services_footer a:hover .desc, .details .services_footer a:hover .title {
  color: #0461da;
}

.partners {
  margin-top: 100px;
}

@media (max-width: 430px) {
  .partners {
    margin-top: 30px;
  }
  .partners .col-md-4 {
    margin-top: 35px;
  }
}

.partners .partner_item {
  width: 100%;
  max-height: 80px;
}
/*# sourceMappingURL=style.css.map */