header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 9999999;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.164);
  

  
  .wrapp_info_header {
    background-color: #e8f6ff;
    .info_header {
      display: flex;
      align-items: center;
     
      .phone {
        cursor: pointer;
        width: 26px;
        height: 26px;
      }
      .call {
        font-size: 30px;
        color: #595959;
        text-decoration: none;
        &:hover {
          color: #007bff;
          .phone {
            fill: #007bff;
          }
        }
      }
      .whatsapp,.viber {
        width: 25px;
        height: 25px;
        margin-left: 15px;
      }
      .call_link {
        font-size: 1.2rem;
        color: #007bff;
        text-decoration: none;
        margin-left: 25px;
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      
      .lang {
        width: 100px;
        display: flex;
        align-items: center;
        a {
          padding: 5px;
          text-decoration: none;
          color: black;
          &.active {
            color: #007bff;
          }
        }
      }
      .order {
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 180px;
        height: 45px;
        border-radius: 5px;
        display: block;
        color: black;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
          background-color: rgba(128, 128, 128, 0.425);
        }
        .order_user {
          width: 20px;
          height: 20px;
          fill: #007bff;
        }
      }
    }

    
  }
  .desktop_menu {
    padding: 17px;
   .row {
     align-items: center;
     .logo {
       display: block;
       width: 170px;
       height: 96px;
     }
     .header_menu_list {
       display: flex;
       list-style: none;
       width: auto;
       margin-left: 100px;
       margin-bottom: 0;
       li {
         margin-left: 40px;
         a {
          font-size: 20px;
          font-weight: 400;
          text-transform: uppercase;
          text-decoration: none;
         }
       }
       .dropdown-menu{
         li {
          margin: 0;
          a {
            font-size: 15px;
          }
         }
       }
     }
   }
  }

  .mobile_menu {
    display: none;
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    background-color: white;

    .wrapp_lang {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }


    .navbar-brand {
      margin: 0;
      img {
        width: 125px;
      }
      .item {
        text-decoration: none;
        margin-left: 5px;
        &:first-child {
          margin-left: 0;
        }
        width: 28px;
        height: 28px;
        svg {
          width: 28px;
          height: 28px;
        }
      }
    }
    .phone_link {
      text-decoration: none;
      font-weight: 500;
      font-size: 1.2rem;
    }
    .lang {
      a {
        text-decoration: none;
        svg, img {
          width: 30px;
          height: 30px;
        }
      }
    }

  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  @media(max-width: 1200px){
    .wrapp_info_header,.desktop_menu{
      display: none;
    }
    .mobile_menu {
      display: block;
    }
  }
}

main {
  margin-top: 175px;
  .hero_image {
    min-height: 615px;
    // background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("img/main-bg.jpg");
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;

    .title {
      padding-top: 50px;
      font-size: 3rem;
      color: white;
      text-align: center;
    }
    .desc {
      text-align: center;
      color: white;
      font-size: 1.5rem;
    }
    .btn_link {
      display: inline-block;
      padding: 10px 40px;
      background-color: #0072b2;
      color: white;
      text-decoration: none;
      margin-left: 50%;
      transform: translateX(-50%);
      transition: 0.3s;
      &:hover {
        background-color: #0021b2;
      }
      .pin {
        width: 20px;
        height: 20px;
        fill: white;
      }
      @media(max-width: 430px) {
        padding: 17px 13px;
        font-size: 20px;
        border-radius: 5px;
      }
    }
    .services {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 115px;
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 260px;
        height: 160px;
        padding: 40px 0;
        min-width: 245px;
        background-color: rgba(255,255,255,.8);
        cursor: pointer;
        transition: 0.3s;
        border-radius: 5px;
        margin-left: 15px;
        margin-bottom: 15px;
        &:first-child {
          margin-left: 0;
        }
        a {
          display: flex;
          align-items: center;
          flex-direction: column;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 1.4rem;
          transition: 0.3s;
          svg {
            width: 100%;
            max-width: 70px;
            height: 70px;
            fill: #007bff;
            transition: 0.3s;
          }
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.904);
          a {
            color: #0021b2;
          }
          svg {
            fill: #0021b2;
          }
        }
        @media(max-width: 430px){
          margin-left: 0;
        }
      }
    }
  }
  
 
  @media(max-width: 1200px){
    margin-top: 130px;
  }
}

footer {
  min-height: 125px;
  .desc {
    padding-top: 50px;
  }
}

/////// new page

.wrapp_menu_section {
  min-height: 80px;
  background-color: #f5f5f5;
  .menu_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 80px;
    margin: 0;
    padding: 0;
    
    list-style: none;
    li {
      margin-left: 70px;
      &:first-child {
        margin-left: 0;
      }
      a {
        text-decoration: none;
       
        svg {
          fill: #007bff;
          width: 32px;
          height: 32px;
          transition: 0.3s;
        }
        span {
          font-size: 0.9rem;
          text-transform: uppercase;
          margin-left: 10px;
          transition: 0.3s;
        }
        &:hover {
          span {
            color: #003eb2;
          }
          svg {
            width: 29px;
            height: 29px;
            fill: #003eb2;
          }
        }
        @media(max-width: 1200px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            margin-left: 0 !important;
          }
        }
      }
      @media(max-width:768px) {
       &:first-child {
         margin: 15px;
       }
        margin: 15px;
      }
      @media(max-width: 430px){
        width: 100%;
        svg {
          width: 50px !important;
          height: 50px !important;
        }
      }
    }
  }
}

.wrapp_slider {
  .fotorama__nav-wrap {
    position: absolute;
    bottom: 73px;
    width: calc(94% - 145px);
    right: calc(50% - 73px);
    // transform: translateX(50%);
    max-width: 1255px;
    z-index: 1;
    box-sizing: border-box;
    @media(max-width: 768px){
      display: none;
    }
  }
  .slider_container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .block_info {
    width: 575px;
    background-color: rgba(255,255,255,.9);
    padding: 40px 60px;
    border-radius: 5px;
    margin-top: 50px;
    @media(max-width: 768px){
      display: none;
    }
   
    .title {
      span {
        color: #0072b2;
        font-size: 30px;
        text-transform: uppercase;
        margin-left: 15px;
      }
      svg {
        fill: #0072b2;
        width: 70px;
        height: 70px;
      }
    }
    .desc {
      font-size: 0.9rem;
      span {
        font-weight: 600;
      }
    }
  }
}

.details {
  margin-top: 60px;
  h5 {
    font-size: 2.0rem;
  }
  h6 {
    font-size: 1.5rem;
  }
  .detail_list {
    list-style: none;
    padding-left: 10px;
    span {
      font-weight: 500;
    }
  }
  table {
    width: 100%;
    .main {
      background-color: #e8f6ff;
      padding: 10px;
      font-weight: 400;
      th {
        padding: 10px;
      }
    }
    tr:not(.main) {
      border-bottom: 1px solid #e8f6ff;
      td {
        padding: 10px;
      }
    }
  }
  .select_service {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
  }

  .wrapp_services_opt {
    max-width: 400px;
    margin-left: auto;
    @media(max-width: 992px){
      margin: auto;
      margin-top: 50px;
    }
    .wrapp_images_service {
      margin-top: 50px;
      .image_service_item {
        width: 100%;
      }
    }

    .meta_desc {
      display: flex;
      margin-top: 50px;
      @media(max-width: 430px){
        flex-direction: column;
        align-items: center;
        img {
          width: 100% !important;
          height: 100% !important;
        }
      }
      p {
        font-size: 0.9rem;
      }
      img {
        width: 128px;
        height: 128px;
      }
    }
  }
  .services_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    @media(max-width: 430px) {
      .wrapp_item_link {
        margin-top: 30px;
      }
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      @media(max-width:992px){
        flex-direction: column;
        text-align: center;
        .right {
          margin-left: 0 !important;
        }
      }
      @media(max-width: 430px){
        flex-direction: row;
        text-align: left;
        .right {
          margin-left: 20px !important;
        }
      }
      .right {
        margin-left: 20px;
        .title {
          font-size: 1.4rem;
          text-transform: uppercase;
        }
        .desc {
          color: black;
        }
      }
      .icon {
        width: 81px;
        height: 81px;
        fill: rgb(0, 113, 179);
      }
      &:hover {
       .icon {
        fill: rgb(4, 97, 218);
       }
       .desc,.title {
        color: rgb(4, 97, 218);
       }
      }
    }


  }
}
.partners {
  margin-top: 100px;
  @media(max-width:430px){
    margin-top: 30px;
    .col-md-4 {
      margin-top: 35px;
    }
  }
  .partner_item {
    width: 100%;
    max-height: 80px;
  }
}